version: 2.1
jobs:
  go-tests:
    working_directory: ~/repo
    docker:
      - image: cimg/go:1.19.3
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Install Dependencies
          command: go mod download
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - run:
          name: Create a temp directory for artifacts
          command: mkdir -p /tmp/artifacts
      - run:
          name: Run tests
          # NOTE: For now we only run the tests in the keeper directory
          command: |
            go test ./x/dex/keeper... -coverprofile=c.out -v
            go tool cover -html=c.out -o /tmp/artifacts/coverage.html
      - store_artifacts:
          path: /tmp/artifacts
  binary-build:
    working_directory: ~/repo
    docker:
      - image: ignitehq/cli:0.25.2
    steps:
      - checkout
      - run:
          name: Create a temp directory for artifacts
          command: mkdir -p /tmp/artifacts
      - run:
          name: Build chain binary
          command: ignite chain build -o /tmp/artifacts
      - run:
          name: Ensure ignite has not generated changes which have not been commited to VC
          command: |
            CHANGES=$(git ls-files -m)
            [[ -n "$CHANGES" ]] && { echo "Untracked files created by ignite:\n$CHANGES" ; exit 1; }\
            || { echo "No new files detected" ; exit 0; }
      - store_artifacts:
          path: /tmp/artifacts
  binary-release-build:
    working_directory: ~/repo
    docker:
      - image: ignitehq/cli:0.25.2
    steps:
      - checkout
      - run:
          name: Create a temp directory for artifacts
          command: mkdir -p /tmp/artifacts
      - run:
          name: Build chain binary
          command: ignite chain build  --release -t linux:amd64 -t darwin:amd64 -o ./tmp/artifacts/release
      - store_artifacts:
          path: /tmp/artifacts/release
  publish-github-release:
    docker:
      - image: circleci/golang:1.8
    steps:
      - attach_workspace:
          at: ./tmp/artifacts/release
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            VERSION=$(dualityd version)
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./tmp/artifacts/

workflows:
  version: 2
  full_test_suite:
    jobs:
      - go-tests
      - binary-build
  publish-release-maybe:
    jobs:
      - binary-release-build:
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
      - publish-github-release:
          requires:
            - binary-release-build


