version: 2.1
jobs:
  go-tests:
    working_directory: ~/repo
    docker:
      - image: cimg/go:1.19.3
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Install Dependencies
          command: go mod download
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - run:
          name: Create a temp directory for artifacts
          command: mkdir -p /tmp/artifacts
      - run:
          name: Run tests
          # NOTE: For now we only run the tests in the keeper directory
          command: |
            go test ./x/dex/keeper... -coverprofile=c.out -v
            go tool cover -html=c.out -o /tmp/artifacts/coverage.html
      - store_artifacts:
          path: /tmp/artifacts
  binary-build:
    working_directory: ~/repo
    docker:
      # For now we will always try to build on latet ignite CLI release
      # This likely will cause breakage as local CLI versions will likely be behind
      # But I think this is the correct point to target and identify those breakages
      - image: ignitehq/cli:latest
    steps:
      - checkout
      - run:
          name: Create a temp directory for artifacts
          command: mkdir -p /tmp/artifacts
      - run:
          name: Build chain binary
          command: ignite chain build -o /tmp/artifacts
      - run:
          name: Ensure ignite has not generated changes which have not been commited to VC
          command: |
            CHANGES=$(git ls-files -m)
            [[ -n "$CHANGES" ]] && { echo "Untracked files created by ignite: $CHANGES" ; exit 1; }
      - store_artifacts:
          path: /tmp/artifacts
workflows:
  version: 2
  full_test_suite:
    jobs:
      - go-tests
      - binary-build
