x-aws-vpc: "vpc-013e79af9077c1e0e"
x-aws-cluster: "devnet-cluster"
x-aws-loadbalancer: "duality-devnet-lb"
services:
  genesis-node:
    environment:
      - MNEMONICS=reveal gloom baby scan escape shine flock kind marriage sad clinic affair invite dove document youth weekend brave mutual chief sunny return myself sorry;input coin depth fetch interest shaft vendor ready cave tell ten robot stem cat travel visit unknown saddle rain great describe derive inhale attract;actress general today spike hire bronze elbow cage mystery scheme attack head october lucky poverty eagle forest column lizard flag nominee frog gap audit
      - FAUCET_MNEMONIC=guilt sausage note edit route horror miss key bike fire icon raven fire rug gas dust property attend salad cabin town toy green photo
  indexer:
    image: 137158674376.dkr.ecr.us-west-2.amazonaws.com/hapi-indexer:${INDEXER_TAG:-latest}
    ports:
      #RPC
      - target: 8000
        x-aws-protocol: http
    environment:
      - NODE_ENV=development
      - REST_API=http://follower-node:1317
      - RPC_API=http://follower-node:26657
      - WEBSOCKET_URL=ws://follower-node:26657/websocket
    depends_on:
     follower-node:
       condition: service_healthy


# Along with the core docker-compose.yml this can be used to (re)create the devnet-cluster on AWS.
# Generally, CI will take care of updating the cluster, but the above can be used to manually deploy should the need arise
# See: https://docs.docker.com/cloud/ecs-integration/ for more details

# Script for standing updating AWS devnet manually:
# docker context create ecs ecs [follow prompts]
# docker context use ecs
# docker-compose -p duality-devnet -f ./docker-compose.yml -f ./networks/duality-devnet/docker-compose.override.yml up -d

# This will update the existing devnet (devnet-cluster). To create a new devnet you can supply an alternative docker-compose.override.yml 
